html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
}

main {
  height: 100%;
  width: 75%;
}

h1,
.show-starred-ideas {
  color: #E9E9F3;
  font-family: 'Open Sans', bold;
}

h3 {
  color: #BFBFDD;
}

.top-section {
  /* display: flex;
  flex-direction: column; */
  /* margin: auto; */
  text-align: center;
  justify-content: center;
  background-color: #A9AAD2;
  height: 40%;
}

.inputs {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  text-align: center;
  justify-content: space-between;
  height: 100%;
}

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  width: 50%;
  /* margin: auto; */
  text-align: justify;
}

.title-text {
margin-right: 43%;
}

#body {
  height: 50px;
  width: 50%;
  /* margin: auto; */
  text-align: center;
}

.save-button {
  background-color: #353567;
  color: #E9E9F3;
  font-family: 'Open Sans', bold;
}

.save-button,
#search {
  width: 50%;
  text-align: center;
}

#search {
  font-family: 'Open Sans', bold;
}

.show-starred-ideas,
.comment-button {
  background-color: #5356A4;
}

.menu {
  background-color: #1F1F3D;
  height: 100%;
  width: 25%;
}

.idea-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #EAEAF4;
  height: 60%;
}

.idea-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
  width: 175px;
  border: #1F1F3D 2px solid;
  margin: 25px;
}

img {
  height: 25px;
  width: 25px;
}

.user-idea {
  background-color: #FFFFFF;
  height: 80%;
  width: 100%;
}

.user-idea-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F1F3D;
  height: 25px;
  width: 100%
}

.user-idea-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5356A4;
  height: 25px;
  width: 100%
}

.comment-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5356A4;
  height: 25px;
  width: 150px;
  color: #E9E9F3;
  font-family: 'Open Sans', bold;
  font-size: 14px;
}
.hidden {
  display: none
}
