html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
}

main {
  height: 100%;
  width: 75%;
}

h1,
.show-starred-ideas {
  color: #E9E9F3;
  font-family: 'Open Sans', bold;
}

h3 {
  color: #BFBFDD;
}

.save-button {
  background-color: #353567;
  color: #E9E9F3;
  font-family: 'Open Sans', bold;
}

#title,
#body,
.save-button,
#search {
  width: 50%;
  margin: auto;
  text-align: center;
}

#search {
  font-family: 'Open Sans', bold;
}

.show-starred-ideas,
.comment-button {
  background-color: #5356A4;
}

.menu {
  background-color: #1F1F3D;
  height: 100%;
  width: 25%;
}

.top-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  justify-content: center;
  background-color: #A9AAD2;
  height: 40%;
}

.idea-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #EAEAF4;
  height: 60%;
}

.idea-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
  width: 175px;
  border: #1F1F3D 2px solid;
  margin: 25px;
}

.user-idea-header {
  background-color: #1F1F3D;
  height: 10%;
  width: 100%
}

.user-idea {
  background-color: #FFFFFF;
  height: 80%;
  width: 100%;
}

.comment-button {
  background-color: #5356A4;
  height: 10%;
  width: 100%;
  color: #E9E9F3;
  font-family: 'Open Sans', bold;
}
